@font-face {
  font-family: steelfish;
  src: url(../Assets/steelfish/steelfish.ttf);
}
@font-face {
  font-family: bebasNeue;
  src: url(../Assets/bebas_neue/BebasNeue-Regular.ttf);
}
html {
  font-size: 16px;
}
body {

  font-family: bebasNeue;
  letter-spacing: 0.2rem;
}
.section1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 71.6rem;
  background-image: url(../Assets/Largeblack3.JPG);
  background-attachment: fixed;
}

body, section, nav{
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
}
ul {
    list-style-type: none;
}
.button > a {
  color: white;
  font-size: 2rem;
  background-color: #252769;
  padding: 5px 15px;
  border: 2px solid white;
  transition: 1s all;
  z-index: 2;
  position: absolute;
}
.button a:hover {
  color: #252769;
  background-color: white;
  border: 2px solid #252769;
}
h2, h3 {
  font-family: steelfish;
}
h3 {
  font-size: 1.7rem;
  margin: 0.1rem;
}
a {
  text-decoration: none;
  color: white;
}
.topbar {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 7rem;
}
.topbar > img {
  position: relative;
  height: 5rem;
  top: 1rem;
  left: 4rem;
}
.topbar > p {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 2rem;
  color: red;
}
.hamburger {
	/* for small screen menu  */
	height: 50px;
	/* no display when large screens */
	display: none;
}
.fullNav {
  position: relative;
  top: 7rem;
  height: 3rem;
  background-color: #252769;
  overflow: hidden;
}
.fullNav > ul {
  position: relative;
  left: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.fullNav > ul >  li {
  float: left;
  padding: 1rem;
  transition: 0.2s all;

}
.fullNav  li:hover {
  background-color: black;
}

.textBar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 0.1rem solid #252769;
  border-bottom: 0.1rem solid #252769;
  overflow: hidden;
  height: auto;

  font-size: 3rem;
  text-align: center;
  box-sizing: border-box;
  padding: 2.4rem;
}


.blueBand {
  background-color: #004f9c ;
  color: white;
  position: absolute;



  border-top: .8rem solid #252769;
  border-bottom: .8rem solid #252769;
}

#entry {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.homepage {}
#entry #door {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}
#entry .wrapper {
  position: absolute;

}
#entry .logoBox {
  position: absolute;
  top: calc(50vh - 6rem);
  left: calc(50vw - 11rem);
  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 5px;
  border: .2rem solid #252769;
  text-align: center;
}
#entry .logoBox:hover {
  cursor: pointer;
}
#entry .entryLogo {
  margin: 1rem;
  width: 19.5rem;
}
.textBar1 {
  top: 20rem;
}

#summarySlide {
  top: 40rem;
  height: 30rem;
  font-size: 1.5rem;
}
.fadeBox {
  box-sizing: border-box;
  text-align:  center;
  width: 100vw;
  padding: auto;
  position: absolute;
  top: 5rem;
}

#box2 {
  display: none;
}
#box3 {
  display: none;
}
.line {
  height: 2.5px;
  background-color: white;

  position: relative;
  padding: none;
  margin: none;
  margin-bottom: 3px;
}

.blueBand h2 {

  font-size: 40px;
  letter-spacing: 4px;
  margin: 0px;
  padding: none;

  font-family: steelfish;
}
#summarySlide .underline1 {
  width: 180px;
  left: calc(50vw - 90px);
}

#summarySlide .underline2 {
  height: 2px;
  width: 150px;
  left: calc(50vw - 75px);
}

.fadeBox img {
  height: 70px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.fadeBox p {
  margin: 1px;

}
.paraline1 {
  width: 500px;
  left: calc(50vw - 250px);
  margin-bottom: 5px;
  padding: 0;
}

.paraline2 {
  width: 300px;
  left: calc(50vw - 150px);
  margin-top: 5px;
}

.section2 {
  background-image: url(../Assets/homepage.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 71.4rem;
  height: 70.6rem;
}
.textBar2 {
  box-sizing: border-box;
  padding: 0 8rem;
  top: 6rem;
}
.textBar2 > h2 {
  font-size: 3rem;
}
.textBar2 > p {
    font-size: 1.5rem;
}

#colourBar {
  position: absolute;

  top: 39rem;
  height: 30rem;
}
.colourBarText {
  width: 50vw;
  overflow-x: hidden;

  text-align: center;
  position: relative;
  top: 2.5rem;

  font-size: 1rem;
}

#colourBar h2 {
  display: inline-block;
  font-size: 2rem;
}
#colourBar .underline1 {
  height: 2px;
  width: 150px;
  left: calc(25vw - 75px);
}
#colourBar .underline2 {
  width: 180px;
  left: calc(25vw - 90px);
}
.colourBarText img {
  position: relative;
  margin: 1rem 0;

  height: 50px;
  position: relative;
  left: -0.2rem;
}
#colourBar .paraline1 {
  width: 40vw;
  left: 5vw;
}
.colourBarText p {
  box-sizing: border-box;
  padding: 0 5rem;
}

#colourBar .paraline2 {
  width: 30vw;
  left: 10vw;
}

.customDoorEG {
  position: absolute;
  left: calc(75vw - 240px);
  top: calc(15rem - 150px);
  height: 300px;
  width: 450px;
  background-color: red;
  border: 2px solid white;
  animation-name: rainbow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {background-color: red;}
    12.5% {background-color: orange;}
    25% {background-color: yellow;}
    37.5% {background-color: green;}
    50% {background-color: blue;}
    62.5% {background-color: indigo;}
    75% {background-color: violet;}
    87.5% {background-color: darkgrey;}
    100% {background-color: red;}

}
.customDoorEG > img {
  width: 450px;
  max-width: 90vw;
  position: absolute;
}

.customDoorEG a {
  top: calc(50% - 23px);
  left: calc(50% - 80px);
}

.section3 {
  background-image: url(../Assets/Green77slat.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 142rem;
  height: 30rem;
}
.section3 > .textBar {
  position: relative;
  top: 10rem;

}

/*  */
/*  */
/* COLOURS PAGE */
/*  */
/*  */
.colourPage .section1 {
  height: calc(100vh + 15.85rem);
}
.colourPage  .footer {
  top: calc(100vh + 10rem) ;
}
.customiser {
  position: absolute;
  background-image:  linear-gradient(to bottom right, #f2f2f2, #b3b3b3);
  top: 10rem;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;

}
.customiser .bigBox {
  grid-column: 1 / 5;
  grid-row: 1 / span 3;


  box-sizing: border-box;
  border-right: 10px solid #252769;

  text-align: center;

    position: relative;
}
.customDoor {
  position: absolute;
  top: calc(50% - 250px );
  left: calc(50% - 330px);
}
.customDoor > img {
  position: relative;
  top: 0;
  left: 0;
}
.customiser .customDoor, .customDoor > img {

  width:  660px;
  border-radius: 1rem;
  border: 2px solid black;


}
.customiser .customDoor {
    transition: 0.5s all;
    /* margin-top: 2rem; */
}
.colourName {
  font-size: 2rem;

  position: absolute;
  left: 0;
  right: 0;
  top: 7rem;
}
.customiser .colourBox {
  grid-column: 5 / 6;
  grid-row: 1 / 4;



  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: flex;

  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  overflow-y: scroll;
}
.colourTitle {
  display: block;
}
.colourBox .colour {

  width: calc(50% - 1rem);
  height: auto;
  margin: 0.5rem auto;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px grey;
  transition: 0.5s all;

  box-sizing: border-box;

}
.colour:hover {
  cursor: pointer;
}
.colour.selected {
  border-radius: 0;
  box-shadow: 0px 0px 4px 2px black;
  border: 1px solid black;
}
.colour .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  display: flex;
}
.content span {
  margin:auto;
}
.content p {
  position: relative;

  font-size: 1rem;

  top: calc(50% - 1.2rem);
  color: white;
  text-shadow: 0 0 8px black;

}
/* .colourBox .colour::before { */
/* {
  content: "";
  display: block;
  padding-top: 100%;
} */


/*  */
/*  */
/* gallery pg */
.gallery > .section1 {
  height: calc(100vh + 22rem);
  overflow-y: hidden;
}
.galleryBox {
  border: none;
  position: relative;
  height: calc(100vh + 12rem);
  top: 7rem;
  text-align: center;
  letter-spacing: 0.3rem;
}
.galleryBox h2 {
  padding: 2rem ;
  font-size: 4rem;
}
.gridWrap {
  box-sizing: border-box;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 2rem;
  height: 100vh;

}
.gridWrap div {
  grid-column: span 1;
  overflow:hidden;
  border: 5px solid #252769;
}
.gridWrap div:hover {
  cursor: pointer;
}
.gridWrap div > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* fullscreen */
.FullScreenGallery, #fullImg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.FullScreenGallery {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: none;
}
#fullImg {

}
#gallcloseBttn {
  height: 60px;
  position: fixed;
  right: 30px;
  top: 30px;
}
#fullImg > img {
  position: absolute;
  max-width: 100vw;

}
#gallNext img {
    position: fixed;
    right: 0;
    top: 25vh;
    height: 50vh;
}
#gallPrev img {
  position: fixed;
  left: 0;
  top: 25vh;
  height: 50vh;

  transform: rotate(180deg);
}

/*  */
/*  */
/*  */

/*  */
/*  */
/* contact */
/*  */
#map {
  height: 200px;
  width: 100vw;
  position: absolute;
  top: 50vh;
}
.contact {
  height: calc(100vh + 17.115rem);
}
.contact .section1 {
  height: calc(100vh + 17.115rem);
}







/*  */
/*  */
/* footer */
.footer {
  position: absolute;
  border-bottom: none;
  text-align: center;
}
.homepage > .footer {
  top: 172rem;
}
.gallery .footer {

  top: calc(100vh + 22rem);
}
.contact .footer {
  top: 100vh;
}
.footer h2 {
  letter-spacing: 1rem;
  margin-top: 1rem;
}

.footer > .underline1 {
  width: 40rem;
  max-width: 90vw;
  position: relative;
  left: calc(50vw - 20rem);
}
.footer > .underline2 {
  width: 35rem;
  position: relative;
  left: calc(50vw - 17.5rem);
}
.footer > .underline3 {
  width: 10rem;
  position: relative;
  left: calc(50vw - 5rem);
}
.footer > .underline4 {
  width: 8rem;
  position: relative;
  left: calc(50vw - 4rem);
}
/*  */
.contactBox {
  display: inline-block;
}
.contactBox > ul > li > img {
  height: 40px;
  padding-left: 20px;
}
.contactBox > ul > .mailImg {
  height: 50px;
}
.contactBox  ul  li  a {
  position: relative;
  top: -15px;
  text-decoration: underline;

}
.contactBox  ul  li {
  float: left;
  display: inline-block;
  margin-bottom: 2rem;
}

.dropNav {
	/* keeps the side nav for smaller screens in the top left corner */
	position: fixed;
	top: 0;
	left: 0;
	/* take up whole height of screen */
	height: 100vh;
	/* width becomes 100% in script function */
	width: 0;
	/* make sure it sits on top of other elements */
	z-index: 2;
	background-color: #252769;
	transition: .5s ease-out all;
	-webkit-transition: .5s ease-out all;
	-moz-transition: .5s ease-out all;
	-ms-transition: .5s ease-out all;
	overflow-x: hidden;
	text-align: center;
}
.dropNav li {
	list-style-type: none;
	padding-top: 3rem;
}
.dropNav a {
	color: white;
	/* ease-in-out is slower at the start and end of the animation */
	transition: .3s ease-in-out;
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-ms-transition: .3s ease-in-out;
	font-size: 2rem;
}
.dropNav a:hover {
	color: grey;
}
.dropNav #closeBttn {
	height: 50px;
  position: absolute;
	top: 50px;
	right: 100px;
}


@media only screen and (orientation: portrait) {
  .customiser {
    /* 6 * 3 */
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .customiser .bigBox {
    grid-column: 1 / 6;
    grid-row: 1 / span 3;
    border-right: none;
  }
  .customiser .colourBox {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    display: inline;
    overflow: auto;
    white-space: nowrap;
    border-top: 10px solid #252769;
    padding-left: 0.5rem;
    overflow-y: hidden;
  }
  .colourBox .colour {
    width: 20vw;
    display: inline-block;
    margin: auto 0.5rem;
  }


  .customiser .customDoor {
    left: 5vw;
    top: calc(35vh - 350px);
  }
  .colourName {
    top: 55vh;
    font-size: 4rem;
  }

  .customiser .customDoor, .customDoor img {
    width: 90vw;
  }
  .content p {
    font-size: 1.8rem;
  }
  .gridWrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

  }
  .gallery .section1 {
    height: calc(76rem + 7rem + 10px );
  }
  .galleryBox {
    top: calc(7rem + 10px);
    height: 76rem;
  }
  .gallery .footer {
    top: calc(76rem + 7rem + 10px);
  }
}
@media only screen and (orientation: landscape) {
  .colourName {
    top: calc(50% + 12rem);
  }

}
@media only screen and (max-height: 1500px) and (orientation: portrait) {
  .customiser .customDoor {
    left: 5vw;
  }
  .colourName {
    top: calc(50% + 18rem);
  }

}
@media only screen and (max-width: 1200px) and (orientation: landscape){
  html {
    font-size: 20px;
  }
  .textBar2 {
    padding: 0 6rem;
  }
  .textBar2 > p {
    font-size: 1.3rem;
  }
  /* .colourName {
    top: 5rem;
  } */
  .colourBarText p {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .topbar p {
    display: none;
  }

  .topbar > img {
    left: calc(50vw - 6.5rem);
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .topbar {
    border-bottom: 0.8rem solid #252769;
  }
  .fullNav {
      display: none;
  }
  .section2 {
    height: 91.6rem;
  }

  .colourBarText {
    width: 100vw;
    font-size: 1rem;
  }
  #colourBar .underline1 {
    left: calc(50vw - 75px);
  }
  #colourBar .underline2 {
    left: calc(50vw - 90px);
  }
  #colourBar .paraline1 {
    width: 80vw;
    left: 10vw;
  }
  #colourBar .paraline2 {
    width: 60vw;
    left: 20vw;
  }
  .customDoorEG {
    left: calc(50vw - 225px);
    top: 520px;
  }
  #colourBar {
    height: 45rem;
    top: 45rem;
  }
  .colourBarText > p {
    box-sizing: border-box;
    padding: 0 1rem;
  }
  .section3 {
    top: 163rem;
  }

  .customiser {
    top: 7.8rem;

  }
  .customiser .customDoor, .customDoor > img {
    margin: 0;
  }

  .colourBox .colour {
    width: 20vw;

    display: inline-block;
  }
  /* .colourBox .colour::before {
    content: "";
    display: block;
    padding-left: 100%;
  } */
  .homepage > .footer {
    top: 193rem;
  }
  .colourPage .footer {
    top: calc(100vh + 7rem + 10px);
  }
  .gallery .footer {
    top: calc(100vh + 19rem + 10px);
  }
  .gallery > .section1 {
    height: calc(100vh + 19rem + 10px)
  }
  .galleryBox {
    top: calc(7rem + 10px);
  }
}
@media only screen and (max-height: 602px) and (orientation: landscape) {
  .colourName {
    top: calc(50% + 9rem);
  }
}
@media only screen and (max-width: 1100px) and (orientation: portrait) {

}
@media only screen and (max-width: 1100px) and (orientation: landscape) {
  .customiser {
    height: 100vh;
  }
  .colourPage .footer {
    top: calc(100vh + 7rem + 10px);
  }

  .colourName {
    top: calc(50%  + 9rem);
  }
}




@media only screen and (max-width: 1000px) and (orientation: landscape){

  .customiser .customDoor, .customDoor > img {
    width: 560px;
  }
  .customDoor {
      left: calc(50% - 280px);
      top: calc(50% - 200px);
  }


}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .customiser .customDoor, .customDoor > img {
    width: 460px;
  }
  .customDoor {
      left: calc(50% - 230px);
      top: calc(50% - 200px);
  }
  .colourName {
      top: calc(50% + 5rem);
  }
  /* .colourName {
    top: 2rem;
  } */
}
@media only screen and (max-width: 800px) {
  html {
    /* font-size: 12px; */
  }
  .textBar2 {
    padding: 0 3rem;
  }
  .textBar2 > p, .colourBarText {
    /* font-size: 1.5rem; */
  }

  .contactBox > ul > li {
    float: none;
    display: block;
    margin-bottom: 0.2rem;
    transform: translateX(-2.5rem);
  }

  #colourBar {

  }
  .topbar > img {
    height: 3rem;
    top: 2rem;
    left: calc(50vw - 3.8rem);
  }
  .hamburger {
    height: 40px;
    top: calc(50% - 20px);
    left: 5px;
  }
  .dropNav #closeBttn {
    top: 5px;
    right: 5px;
  }
}
/* ipad portrait */
@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  .content p {
    font-size: 2.5rem;
  }
  .customiser .customDoor {
    top: calc(35vh - 350px);
  }
  .colourName {
    top: 55vh;
    font-size: 4rem;
  }
}
/* ipad landscape */
@media only screen and (max-device-width: 1100px) and (orientation: landscape) {
  .content p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
  .customDoorEG {
    top: 512px;
  }
}
@media only screen and (max-width: 800px) and (orientation: portrait) {
  .customDoorEG {
    top: 400px;
  }
  .customiser .customDoor {
    top: 7rem;
  }
  .colourName {
    top: calc(50% + 12rem);
  }
  .dropNav #closeBttn {
    right: 25px;
  }
}
@media only screen and (max-width: 700px) {
  html {

  }
  .textBar {
    font-size: 2rem;
    padding: 1.5rem;
  }
  .textBar2 > h2 {
    font-size: 2rem;
  }
  .footer > h2 {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
  .footer > .underline2{
    width: 50vw;
    position: absolute;
    left: 25vw;
  }
  .footer > .underline1 {
    width: 50vw;
    position: absolute;
    left: 25vw;
  }
}
@media only screen and (max-width: 600px) {

  .textBar2 {
    top: 3rem;
  }

  .colourPage .footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .customiser {
    grid-template-rows: 1fr 1fr 1fr 1.7fr;
  }
  .customiser .customdoor {
    top: 4rem;
  }

}
/* iphone  5 landscape*/
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .customiser .customDoor, .customDoor > img {
    width: 300px;
  }
  .customDoor {
      left: calc(50% - 150px);
      top: calc(50% - 120px);
  }
  .colourName {
      top: calc(50% + 3rem);
  }
}
@media only screen and (max-width: 500px) {
  .textBar2 {
    top: 2rem;
  }
  .colourName {
    top: calc(50% + 7rem);
  }
}
@media only screen and (max-width: 500px) and (orientation: portrait) {
  .section1 {
    height: 76.6rem;
  }

  #summarySlide {
    /* +5rem */
    height: 35rem;
  }
  .fadeBox p {
    margin: 2rem;
  }
  .section2 {
    top: 76.6rem;
    height: 116.6rem;
  }
  #colourBar {
    height: 45rem;
    top: 55rem;
  }
  .customDoorEG {
    left: calc(50vw - 157.5px);
    top: 450px;
  }
  .customDoorEG, .customDoorEG img {
    height: 210px;
    width: 315px;
  }

  .section3 {
    top: 178rem;
  }
  .homepage > .footer {
    top: 208rem;
  }
  .customiser .customDoor {
    top: 4rem;
  }
}
/*@ iphone 5 portrait */
@media only screen and (max-device-width: 450px) and (orientation: portrait) {
  .textBar2 p {
    font-size: 1.3rem;
  }
  .section2 {
    height: calc(118.75rem + 3.2rem);
  }
  .textBar2 {
    padding: 0 2rem;
  }
  .textBar2 > p {
    font-size: 1.8rem;
  }
  #colourBar {
    height: 75rem;
  }
  .colourBarText {
    font-size: 12px;
  }
  .customDoorEG, .customDoorEG img {
    height: 27rem;
    width: 41rem;
  }
  .customDoorEG {
    top: 700px;
    left: calc(50vw - 20.5rem);
  }
  .customDoorEG a {
    left: calc(50% - 81.5px);
  }
  .button > a {
    font-size: 2.5rem;
  }
  .section3, .homepage > .footer {
    transform: translateY(30.0rem);
  }
  .customiser {
    height: 80vh;
  }
  .customiser .customDoor {
    top: calc(30vh - 350px);
  }
  .customiser .customDoor, .customDoor > img {
    width: 90vw;
  }
  .colourName {
    top: 50vh;
    font-size: 4rem;
  }
  .colourPage .section1 {
    height: calc(100vh);
  }
  .colour p {
    font-size: 2.5rem;
  }
  .colourpage .footer {
    height: calc(20vh - 7.8rem);
    top: calc(80vh + 7.8rem)
  }
}
@media only screen and (max-device-width: 400px) and (orientation: portrait) {




  .customiser .customDoor {
    top: calc(30vh - 350px);

  }



}

@media only screen and (max-width: 300px) and (orientation: portrait) {
  #summarySlide {
    font-size: 1rem;
  }
}
/* mobile devices with higher pixel density */
@media only screen and (max-width: 1100px) and (-webkit-min-device-pixel-ratio: 3) {










}
@media only screen and (max-width: 1100px) and (-webkit-min-device-pixel-ratio: 3) and  (orientation:portrait) {
  .dropNav {
    font-size: 4rem;
  }



  .galleryBox {
    height: calc(200vh + 12rem);
  }
}
@media only screen and (max-width: 1100px) and (-webkit-min-device-pixel-ratio: 3) and (orientation:landscape) {



}
/*
 @media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
  .section3, .homepage > .footer {
    transform: translateY(5rem);
  }

  .customDoor {
      left: 0;
  }

  .customiser {
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .customiser .bigBox {
    grid-column: 1 / 5;
    grid-row: 1 / span 3;
  }
  .customiser .colourBox {
    grid-column: 5 / 6;
    grid-row: 1 / 4;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: flex;
  }
}
@media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
  .customDoor, .customDoor > img {
    width: 100%;
  }
} */


.entryLock {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
